<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css" media="screen">
  <link href="assets/css/jquery-ui.css" rel="stylesheet" type="text/css" media="screen">
  <link href="assets/css/main.css" rel="stylesheet" type="text/css" media="screen">
  <script src="assets/js/jquery.js" type="text/javascript"></script>
  <script src="assets/js/jquery-ui.js" type="text/javascript"></script>
  <script src="assets/js/filter.js" type="text/javascript"></script>
  <script src="tracks.js" type="text/javascript"></script>
  <script src="assets/js/index.js" type="text/javascript"></script>
  <title>Home Music Library | Den Patin</title>
</head>
<body>
<div class="container">
  <h1 class="title">Home Music Library</h1>
  <div class="sidebar col-md-3">
    <div>
      <h4 class='col-md-6'>Tracks (<span id="total_movies">0</span>)</h4>
    </div>
    <div>
      <label class="sr-only" for="searchbox">Search</label>
      <input type="text" class="form-control" id="searchbox" placeholder="Search&hellip;">
    </div>
    <br>
    <div class="well">
      <fieldset id="rating_criteria">
        <legend>Rating</legend>
        <span id="rating_range_label" class="slider-label">8 - 10</span>
        <div id="rating_slider" class="slider"></div>
        <input type="hidden" id="rating_filter" value="8-10">
      </fieldset>
    </div>
    <div class="well">
      <fieldset id="year_criteria">
        <legend>Year</legend>
        <select class="form-control" id="year_filter">
          <option value="all">All (1920 - 2020)</option>
          <option value="1920-1930">1920 - 1930</option>
          <option value="1931-1940">1931 - 1940</option>
        </select>
      </fieldset>
    </div>
    <div class="well">
      <fieldset id="genre_criteria">
        <legend>Genre</legend>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="All" id="all_genre">
            <span>All</span>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="Crime">
            <span>Crime</span>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="Drama">
            <span>Drama</span>
          </label>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="col-md-9">
    <div class="movies content row" id="movies"></div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <p class="text-muted"><a href="http://dpat.in">Den Patin</a> © 2016</p>
  </div>
</footer>

<script id="movie-template" type="text/html">
  <div class="col-md-4 movie">
    <div class="thumbnail">
      <span class="label label-success rating">
        <%= rating %>
      </span>
      <div class="caption">
        <h4><%= _fid %>. <%= name %></h4>
        <div class="outline">
          <%= outline %>
              <span class="runtime">
                <%= runtime %> mins.
              </span>
        </div>
        <div class="detail">
          <dl>
            <dt>Director</dt>
            <dd><%= director %></dd>
            <dt>Actors</dt>
            <dd><%= stars %></dd>
            <dt>Year</dt>
            <dd><%= year %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</script>
<script id="genre_template" type="text/html">
  <div class="checkbox">
    <label>
      <input type="checkbox" value="<%= genre %>"> <%= genre %>
    </label>
  </div>
</script>
</body>
</html>
